.container1{
    display:flex;
    flex-direction: column;
    background-color:#2E2E2E ;
    align-items: center;
    border-radius:40px;

}
.child-container1{
    background-image: url("/common/images/indication_bg.png");
    height: 68.14px;
    width: 586px;
    border:2px solid red;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: space-around;


    align-items: center;
    margin-bottom: 3px;
    

/*    flex-direction: row;*/
/*    justify-content: center;*/

}
/*.img-container{*/

/*    justify-content: space-around;*/
/*    width: 600px;*/

/*!*    flex-direction: row;*!*/
/*!*    justify-content: center;*!*/
/*    border:2px solid yellow;*/
/*}*/
image {
    width: 43px;
    height: 43px;
    

/*    justify-content: space-between;*/

}

.child-container2{
    display: flex;
    flex-direction: row;
    margin-bottom: -40px;
}

.left{
    width: 330px;
    margin-left: 53px;
    border:2px solid green;
    display: flex;
    flex-direction: column;



}
.right{
    width: 393px;
    height: 521px;
/*    margin-right: 55px;*/
    border:2px solid blue;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.middle{
    width: 393px;
    height: 521px;
    border:2px solid yellow;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.caller{
    border: 2px solid violet;
    background-image: url("/common/images/middle/info_bg.png");
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    height: 86px;
    padding-top: 2%;

}
.call{

    justify-content: space-around;

}
.speedometer{
    margin-top:20px;
    align-items: center;

    background-color:rgba(0, 0, 0, 0.231);
    width:242px;
    height:343px;
    border-radius : 90px;
    text-align:center;
    display:flex;
    flex-direction : column;

}
.min-progress {
    width: 230px;
/*    height: 70px;*/
    stroke-width:12px;
    margin-top:5px;
    color: #0cb3fc;
    margin-bottom:-5px;
}
.EKL{
    display:flex;
    flex-direction:column;
    margin-top: 50px;

}

.musicProgress{
    display:flex;
    flex-direction:column;
    margin-top: 20px;
    width: 241px;
    border: 1px solid green;


}
.musicbar{

/*    height: 70px;*/
    stroke-width:7px;
    margin-top:5px;
    color: white;
    margin-bottom:-5px;
}
.musicButtons{
    width: 241px;
    border: 1px solid mediumvioletred;
    height: 54px;
    margin-top: 35px;
    align-items: center;
    justify-content: space-around;

}
.child-container3{
    height: 37px;
    width: 100%;
    border: 1px solid mediumvioletred ;
    margin-left: 53px;
    margin-right: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}
.fuelindicator{
    border: 1px solid violet;
    margin-top: 54.84px;

    height: 48.59px;

}
.fuel-read{
    border:1px solid blue;
    display: flex;
/*    flex-direction: column;*/
    align-items: flex-end;
}